.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carouselInner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 500px;
    overflow: hidden;
    padding: 0 10px;
}

.carouselItem {
    min-width: 100%;
    box-sizing: border-box;
}

.carouselControlPrev,
.carouselControlNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carouselControlPrev {
    left: 10px;
}

.carouselControlNext {
    right: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: white;
}

.carouselControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 10;
}

.carouselBackgroundImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: background-image 0.5s ease-in;
}